SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-mailbox@example.com
SMTP_PASS=replace-with-app-password
SMTP_FROM=Traceability Website <your-mailbox@example.com>
SMTP_TO=contact-recipient@example.com
SITE_NAME=Traceability

# Optional: Cloudflare Turnstile (leave empty to disable)
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

NEXT_PUBLIC_CEREZGO_SRC=https://cdn.cerezgo.com/file/cerezgo.min.js
NEXT_PUBLIC_CEREZGO_KEY=replace-with-cerezgo-public-key
NEXT_PUBLIC_CEREZGO_ID=nt
NEXT_PUBLIC_COOKIE_PROVIDER=auto

# Strapi CMS
STRAPI_URL=http://localhost:1337
STRAPI_API_TOKEN=5468f05f854f682d61d813ef9f472e288a15362a9fcb0f341348c0b0e715b65d76d5f4dc7269b2813ca087909545afaa0738af6badde8d0b5185c9fa0607ba98ea44d668a5a28e0d6b21b5aa9f8e92938ef4149f4e55bbc092b5795eba3671e68b3e8a7671d9a3e8cd44dffa4e2da7c7bc441fbe224f2a91d7bd9d038cf676bf
NEXT_PUBLIC_STRAPI_MEDIA_URL=http://localhost:1337